<!-- display the HTML -->
<p><%= @question %></p>
<p><em>-You</em></p>

<p><b>-<%= @answer %></b></p>
<p><em>-Your coach</em></p>

<!-- Add a link to /ask on the answer.html.erb view using the link_to Rails helper. -->
<%= link_to "Ask a new question", answer_path %>
